/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.kls-choice-help li {
	margin-bottom: 0.4em;
}

.kls-sticky-actions {
	position: sticky;
	top: 0;
	z-index: 1;
	background: var(--background-primary);
	padding: 0.5em 0;
	border-bottom: 1px solid var(--background-modifier-border);
}
